nav {
  background: #F55A5A;
  height: 65px;
}
.nav--img {
  height: 40px;
  width: 40px;
  position: absolute;
  background: #DADADA;
  top: 12px;
  left: 650px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav--text{
  color: #FFFFFF;
  position: absolute;
  left: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card{
  display: flex;
  position: relative;
  top: 50px;
  padding-bottom: 50px;
  
}
.gps--details{
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  margin-top: 14px;
  line-height: 12px;
  flex-direction: row;
}
.card--gps{
  /* display: flex; */
  /* position: relative; */
  margin-top: -5px;
  width: 20px;
  height: 25px;
}
.gps--location{
  font-family: 'Inter';
  margin-top: -1px;
  margin-right: 5px;
  /* margin-block-end: auto; */
}
.details{
  display: block;
}
.card--date{
  display: block;
}
.card--desc{
  display: block;
}
.card--img{
  width: 135px;
  height: 178px;
  border-radius: 20px;
  margin-left: 50px;
  /* display: block; */
  /* padding-left: 50px; */
  /* margin-left: auto;
  margin-right: auto; */
}
